.emilys-candy-regular {
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
}
.delius-swash-caps-regular {
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}
header{
  background-color: #ff8ca3;
  width: 100%;
  height: 25vh;
  padding-top: 1vh;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Emilys Candy", serif;
  font-size: 2em;
  color: rgb(54, 9, 0);
  
}
nav{
  background-color: #ffeb99;
  position: relative;
  padding-top: 3vh;
  padding-bottom: 3vh;
  overflow:hidden;
}
nav img{
  width: 40px;
  height: 40px;
  background-color:#FFFFFF;
  border-radius:50%;
}
nav a{
  font-family: "Delius Swash Caps";
  font-size: 2rem;
  width: 100%;
  text-decoration: none;
  color:rgb(54, 9, 0);
}
nav a:visited{
  text-decoration: none;
}
div{
  width:33.33%;
  display:block;
  float:left;
}
#thurs{
  transition: background-color 0.67s, transform 0.67s;
  border-radius: 5%;
}
#fri{
  transition: height 0.5s
}
#fri:hover{
  height: 500px;
}
#thurs:hover{
  background-color: #ff8ca3;
  transform: rotate(5deg);
}
body{
  background-image: url('../../assets/2Q2GAssets/collectivebg.png');
  background-attachment: fixed;
  background-repeat:no-repeat;
  text-align: center;
}
#schedule, th, tr, td{
  margin-left: auto;
  margin-right: auto;
  background-color:#fff3c2;
  border: 5px, dotted, #000000;
  border-collapse: collapse;
  font-family: "Delius Swash Caps";
  font-size: 1.2em;
}
#schedule img{
  width: 200px;
}
main h1{
  font-family: "Emilys Candy";
  font-size: 2em;
}
footer img{
  width: 40px;
  height: 40px;
}
.thoughts{
  width: 50vw;
  margin: auto;
  background-color: #fff3c2;
  padding: 1%;
  border: 5px, dotted;
  border-radius: 5%;
}
.thoughts img{
    width: 10%;
}
footer{
  background-color: #ff8ca3;
  height: 20vh;
  line-height: 10%;
  overflow: auto;
  margin-bottom: 0px;
}
footer ul{
  list-style-type: none;
  display: flex;
  width: 100%
}
footer li{
  width: 33.33%
}
footer a, a:visited{
  text-decoration: none;
  color:rgb(54, 9, 0);
}
#copyright{
  font-family: "Emilys Candy", serif;
  font-size: 1.7rem;
  color:rgb(54, 9, 0);
}
.socials, #refs, #thoughtscontent{
  font-family: "Delius Swash Caps";
  font-size: 1.5rem;
}
.socials img{
  border-radius: 50%;
}
#logo{
  float: left;
  width: 25vw;
  position: fixed;
  bottom: 10%;
  left: 0%;
}
hr{
  border-top: 5px dotted #000000;
  border-bottom: #00000000;
}